img {
    width: 150px;
}
/* style.css */

body {
    font-family: Arial, sans-serif;
}

.navbar-brand {
    font-size: 1.5rem;
}

.card {
    border: none;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    max-height: 200px;
    object-fit: contain;
}

.card-title {
    font-size: 1.25rem;
}

.card-text {
    color: #555;
}

.btn-primary {
    background-color: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.btn-primary:hover {
    background-color: #f7ca88;
}

.container {
    margin-top: 20px;
}

.footer {
    background-color: #232f3e;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* style.css */

.card {
    border: none;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: solid 1px orange;
}

.card-img-top {
    max-width: 100%;
    height: auto;
}

.card-body {
    text-align: center;
}
